# Terraform
**/.terraform/
.terraform*
*.tfstate
*.tfstate.*
crash.log
crash.*.log
terraform.tfvars
*.tfvars
override.tf
overrides.tf
*_override.tf
*_override.tf.json
.terraformrc
terraform.rc

# Node
node_modules/
.env
npm-debug.log*

# macOS
.DS_Store
